<!-- <div class="d-flex" id="wrapper">

    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Administrator</div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light">Business</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Client</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Statistics</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
        </div>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1 class="mt-4">Admin area will be working on</h1>
            <router-outlet></router-outlet>
        </div>
    </div>

</div> -->

<!-- <div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
            <strong>BS</strong>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-home"></i>
                    Home
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-briefcase"></i>
                    About
                </a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    Pages
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-image"></i>
                    Portfolio
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-question"></i>
                    FAQ
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-paper-plane"></i>
                    Contact
                </a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li>
            <li>
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
            </li>
        </ul>
    </nav>

    <div id="content">

      

        <h2>Collapsible Sidebar Using Bootstrap 4</h2>
        <router-outlet></router-outlet>
    </div>
</div> -->


<!-- <div class="container-fluid">
    <div class="row  flex-column flex-md-row">
        <aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-1">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
                <div class="collapse navbar-collapse ">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link pl-0 text-nowrap" href="#"><i class="fa fa-bullseye fa-fw"></i> <span
                                    class="font-weight-bold">Brand</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-book fa-fw"></i> <span
                                    class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-cog fa-fw"></i> <span
                                    class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-heart codeply fa-fw"></i> <span
                                    class="d-none d-md-inline">Codeply</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-star codeply fa-fw"></i> <span
                                    class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-star fa-fw"></i> <span
                                    class="d-none d-md-inline">Link</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col bg-faded py-3 flex-grow-1">
            <h2>Collapsible Sidebar Using Bootstrap 4</h2>
            <router-outlet></router-outlet>
        </main>
    </div>
</div> -->
<!-- <div class="container"> -->
    <div class="row">
        <div class="col-lg-2 col-1 navBg pl-0 pr-0">
            <nav class="nav  navbar-toggleable-sm">
                <div class="navbar  flex-column mt-md-0  pt-md-0  p-0 w-100" id="navbarWEX">
                    <h1>Administrator</h1>
                    <a href="/#/admin" class="nav-link"><i class="fa fa-dashboard"> </i><span>Overview </span></a>
                    <a href="/#/admin" class="nav-link"><i class="fa fa-bar-chart"
                            aria-hidden="true"></i><span>Statistics</span></a>
                    <a href="/#/admin" class="nav-link"><i class="fa fa-list"
                            aria-hidden="true"></i><span>Listing</span></a>
                    <a href="/#/admin" class="nav-link"><i class="fa fa-briefcase"
                            aria-hidden="true"></i><span>Business</span></a>
                    <a href="/#/admin" class="nav-link"><i class="fa fa-users"
                            aria-hidden="true"></i><span>Client</span></a>
                    <a href="/#/admin" class="nav-link"><i class="fa fa-plug" aria-hidden="true"></i><span>Plugins</span></a>
                    <a href="/#/admin" class="nav-link"><i class="fa fa-paper-plane"
                            aria-hidden="true"></i><span>Integration</span></a>
                    <a href="/#/admin" class="nav-link"><i class="fa fa-cogs" aria-hidden="true"></i><span>Tools</span></a>
                </div>
            </nav>
        </div>
        <div >
            <h2>Klickon administration will be worked on</h2>
            <router-outlet></router-outlet>
        </div>
    </div>
<!-- </div> -->