<nav class="navbar navbar-expand-sm   navbar-light bg-light">

    <a class="navbar-brand" routerLink="/"><img src="assets/images/logo.png" alt="Klickon logo" /></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">JOIN AS PRO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']">LOGIN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/registration']">SIGN UP NOW</a>
            </li>
        </ul>

    </div>
</nav>