<div class="row">
    <div class="col-lg-2 col-1 navBg pl-0 pr-0">
        <nav class="nav  navbar-toggleable-sm">
            <div class="navbar  flex-column mt-md-0  pt-md-0  p-0 w-100" id="navbarWEX">
                <h1>Business</h1>
                <a href="/#/business" class="nav-link"><i class="fa fa fa-list"> </i><span>My Listings </span></a>
                <a href="/#/business" class="nav-link"><i class="fa fa-bar-chart"
                        aria-hidden="true"></i><span>Statistics</span></a>
                <a href="/#/business" class="nav-link"><i class="fa fa-gg"
                        aria-hidden="true"></i><span>Quotes</span></a>
                <a href="/#/business" class="nav-link"><i class="fa fa-star "
                        aria-hidden="true"></i><span>My Favorites</span></a>
                <a href="/#/business" class="nav-link"><i class="fa fa-shield"
                        aria-hidden="true"></i><span>Change Password</span></a>
                <a href="/#/business" class="nav-link"><i class="fa fa-address-card-o " aria-hidden="true"></i><span>My Profile</span></a>
            </div>
        </nav>
    </div>
    <div >
        <div style="padding: 2px;">
            <h2>Business Dashboard will be worked on</h2>
            <router-outlet></router-outlet>
        </div>
       
    </div>
</div>
