<!-- Footer -->
<footer class="text-white bg-dark font-small pt-4 ">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 mr-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mb-4">Contact Information</h5>
                <dl>
                    <i class="fa fa-envelope"></i> <a
                        href="https://klickon.ca/klickon1211/contact/">support@klickon.ca</a>
                    <p></p>
                    <dt><i class="fa fa-map"></i> TD Canada Trust Centre</dt>
                    <dd>55 King Street West,7th Floor,</dd>
                    <dd>Kitchener, Ontario N2G 4W1</dd>
                </dl>
<!-- 
                <div class="container w-50"> -->
                    <!-- Social buttons -->
                    <div class="row pr-5">
                        <!-- Facebook -->
                        <div class="col-md-4">
                            <a type="button" class="btn-floating btn-fb"
                                href="https://www.facebook.com/klickonca-370288513434925/">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                        </div>
                        <!-- Twitter -->
                        <div class="col-md-4">
                            <a type="button" class="btn-floating btn-tw" href="https://twitter.com/klickon_ca">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <!-- instagram -->
                        <div class="col-md-4">
                            <a type="button" class="btn-floating btn-gplus"
                                href="https://www.instagram.com/klickon.ca/">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mb-4">Useful Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="#!">My Favorites</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">My Listings</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">Join As Pro</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">Login</a>
                        </p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Contact details -->
                <h5 class="font-weight-bold text-uppercase mb-4">Quick Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <i class="fa fa-address-card mr-3"></i> Contact</p>
                    </li>
                    <li>
                        <p>
                            <i class="fa fa-lock mr-3"></i> Privacy Policy</p>
                    </li>
                    <li>
                        <p>
                            <i class="fa fa-key mr-3"></i> Terms & Conditions</p>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->


        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://klickon.ca/"> klickon.ca</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->