<div class="page-wrapper">
    <footer class="footer">
        <div class="footer-top">
            <div class="footer-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="widget-odd widget-first widget-1 widget widget_nav_menu" id="nav_menu-14">
                                <h2 class="widgettitle">CONTACT INFORMATION</h2>
                            </div>
                            <div class="widget-even widget-2 widget widget_text" id="text-3">
                                <div class="textwidget">
                                    <dl>
                                        <i class="fa fa-envelope"></i> <a
                                            href="https://klickon.ca/klickon1211/contact/">support@klickon.ca</a>
                                        <p></p>
                                        <dt><i class="fa fa-map"></i> TD Canada Trust Centre</dt>
                                        <dd>55 King Street West,7th Floor,</dd>
                                        <dd>Kitchener, Ontario N2G 4W1</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="widget-odd widget-last widget-3 widget widget_nav_menu" id="nav_menu-15">
                                <div class="menu-social-menu-container">
                                    <ul class="menu" id="menu-social-menu">
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom social-icon facebook menu-item-8635"
                                            id="menu-item-8635"><a
                                                href="https://www.facebook.com/klickonca-370288513434925/"><i
                                                    class="icon-2x icon-facebook "></i><span
                                                    class="fa-hidden">Facebook</span></a></li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom social-icon twitter menu-item-8636"
                                            id="menu-item-8636"><a href="https://twitter.com/klickon_ca"><i
                                                    class="icon-2x icon-twitter "></i><span
                                                    class="fa-hidden">Twitter</span></a></li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom social-icon instagram menu-item-8637"
                                            id="menu-item-8637"><a href="https://www.instagram.com/klickon.ca/"><i
                                                    class="icon-2x icon-instagram "></i><span
                                                    class="fa-hidden">Instagram</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- /.cols-sm-3 -->

                        <!-- /.cols-sm-3 -->

                        <div class="col-sm-3">
                            <div class="widget-odd widget-last widget-first widget-1 widget widget_nav_menu"
                                id="nav_menu-8">
                                <h2 class="widgettitle">USEFUL <strong>LINKS</strong></h2>
                                <div class="menu-usefullinks-container">
                                    <ul class="menu" id="menu-usefullinks">
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8101"
                                            id="menu-item-8101"><a href="https://klickon.ca/my-favorites/">My
                                                Favorites</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8102"
                                            id="menu-item-8102"><a href="https://klickon.ca/my-listings/">My
                                                Listings</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8104"
                                            id="menu-item-8104"><a href="https://klickon.ca/join-as-pro/">Join As
                                                Pro</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8103"
                                            id="menu-item-8103"><a href="https://klickon.ca/login/">Login</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- /.cols-sm-3 -->

                        <div class="col-sm-3">
                            <div class="widget-odd widget-last widget-first widget-1 widget widget_nav_menu"
                                id="nav_menu-6">
                                <h2 class="widgettitle">QUICK <strong>LINKS</strong></h2>
                                <div class="menu-quick-links-container">
                                    <ul class="menu" id="menu-quick-links">
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8233"
                                            id="menu-item-8233"><a href="https://klickon.ca/contact/">Contact</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8106"
                                            id="menu-item-8106"><a href="https://klickon.ca/privacy-policy/">Privacy
                                                Policy</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8165"
                                            id="menu-item-8165"><a href="https://klickon.ca/terms-conditions/">Terms
                                                &amp; Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- /.cols-sm-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- .footer-area -->

            <div class="container">
                <div class="footer-top-inner">
                    <div class="footer-first">
                        <div class="widget-odd widget-last widget-first widget-1 widget widget_nav_menu"
                            id="nav_menu-3"></div>
                    </div><!-- /.footer-first -->

                </div><!-- /.footer-top-inner -->
            </div><!-- /.container -->
        </div><!-- /.footer-top -->


    </footer>
</div>